{% extends 'templates/default.twig' %}

{% block title %} Change password {% endblock %}
{% block current %} Change password {% endblock %}
{% block content %}

<div class="row-fluid">
    <div class="span12">
        <div class="widget-box" style="margin-top:0px;">
            <a class="list-group-item active main-color-bg">
              <span align="center" aria-hidden="true"><i class="icon-file"></i></span><i class="fa fa-cogs"></i>&nbsp; Change password
            </a>
              <div class="box box-primary">
                <div class="box-header">
                
         <form action="{{ path_for('user.change.password', {id:login.id} ) }}" method="POST">
         <div class="form-group {{ errors.password ? 'has-error' : '' }}">
                    <label>Old Password:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-eye"></i>
                        </div>
                        <input type="password" class="form-control input-medium bfh-password"
                         name="password" value="" placeholder="Old password">
                    </div>
                    {% if errors.password %}
                        <span class="help-block">{{errors.password | first}}</span>
                    {% endif %}
                </div>

             <div class="form-group {{ errors.new_password ? 'has-error' : '' }}">
                    <label>New Password:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-eye-slash"></i>
                        </div>
                        <input type="password" class="form-control input-medium bfh-password"
                         name="new_password" value="" placeholder="New password">
                    </div>
                    {% if errors.new_password %}
                        <span class="help-block">{{errors.new_password | first}}</span>
                    {% endif %}
                </div>

                 <div class="form-group {{ errors.new_password ? 'has-error' : '' }}">
                    <label>Retype Password:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-eye-slash"></i>
                        </div>
                        <input type="password" class="form-control input-medium bfh-password"
                         name="retype_password" value="" placeholder="Retype password">
                    </div>
                    {% if errors.new_password %}
                        <span class="help-block">{{errors.new_password | first}}</span>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-default" style="margin:10px">
                    <i class="fa fa-cog"></i> update</button>
    </form>

      </div>
</div>
   <!--  <a href=" {{path_for('user.setting.profile', {('id'):login.id})}} "><button type="submit" class="btn btn-social-button btn-github pull-right">
     <i class="fa fa-cogs"></i> Setting profile</button></a>


    <a href="{{ path_for('user.view.profile') }}"><button type="submit"
         class="btn btn-social-button btn-github pull-right">
         <i class="fa fa-address-book-o"></i>&nbsp; View profile</button></a> -->
    </div>
             

{% endblock %}