
{% extends 'templates/default.twig' %}

 {% block title %} HOME {% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span12">
        <div class="widget-box" style="margin-top:0px;">
            <div class="widget-title"> <span class="icon"> <i class="icon-file"></i> </span>
                <h5>Recent Posts</h5>
            </div>
            <div class="widget-content" style="padding-left:30px; padding-right:30px;">
                <ul class="recent-posts">

                    {% for group in groups %}
                    <li>
                        <form action="{{ path_for('group.set.inactive') }}" method="POST">
                        <div class="row">
                        		<div class=" col-md-3">
                        			<div class="thumb1">
                        			<center><img src="{{ base_url() }}/assets/images/{{ group.image }}"
                        				 height="234" width="234" style="margin:20px"></center>
                        			  	<!-- <div class="caption">
                        			    	<a href="{{ base_url() }}/admin/group/detail/{{ group.id }}"
                        			    		class="btn btn-primary btn-block btn btn-info btn-md"
                        						 style="margin-bottom:7px">
                        			    		<b>{{ group.name }}</b>
                        			    	</a>
                        					<input type="checkbox" name="group[]" value="{{ group.id }}">
                        					<font color=#0160a4> Pilih</font><span class="pull-right">
                        					<a href="{{ path_for('edit.group.get', { ('id'):group.id }) }}">
                        						Edit  <i class="fa fa-pencil"></i></a></span><hr>
                        			  	</div> -->
                        			</div>
                                </div>
                                <div class="col-sm-2 col-md-7">
                                    <ul>
                                        <li><span class="badge">Nama</span>:<br>{{ group.name }}</li>
                                        <li><span class="badge">Deskripsi</span>:<br>{{ group.description }}</li>
                                    </ul>
                                </div>
                            </div>
                    </li>
                    {% endfor %}
                    <nav aria-label="...">
                        <ul class="pager">
                            {% if data.current > data.first_page %}
                                <li class="previous"><a href="{{ base_url() }}/home?page={{ data.first_page }}"><span aria-hidden="true">&larr;</span> Halaman pertama</a></li>
                                <li class="previous"><a href="{{ base_url() }}/home?page={{ data.current - 1 }}"><span aria-hidden="true">&larr;</span> Kembali</a></li>
                            {% endif %}
                            {% if data.current < data.total_page %}
                                <li class="next"><a href="{{ base_url() }}/home?page={{ data.total_page }}">Halaman terakhir <span aria-hidden="true">&rarr;</span></a></li>
                                <li class="next"><a href="{{ base_url() }}/home?page={{ data.current + 1 }}">Selanjutnya <span aria-hidden="true">&rarr;</span></a></li>
                            {% endif %}
                          </ul>
                    </nav>
                        <hr style="margin-top:10px;margin-bottom:10px;" >
                    </form>
                </ul>
            </div>
        </div>
    </div>
</div>


{% for group in items %}

<!-- Modal -->
<div id="{{ group.id }}" style="max-height: calc(100vh - 225px); height:auto;" class="modal fade" role="dialog">

                    <div style="padding-left:20px;" class="">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </div>
                    <hr>
                  <!-- </div> -->
                  <div style="width:98%; position: absolute; bottom: 14px;" class="chat-message well">
                    <button class="btn btn-success">Send</button>
                    <span class="input-box">
                    <input type="text" name="msg-box" id="msg-box" />
                    </span> </div>            </div>
            <!-- </div> -->
        <!-- </div> -->
    </div>
    {% endfor %}
{% endblock %}
