
{% extends 'templates/default.twig' %}

{% block title %} Group {% endblock %}

{% block current %} Group {% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span12">
        <div class="widget-box" style="margin-top:0px;">
            <span class="list-group-item active main-color-bg" style="height:42px">
            <div class="col-lg-6">
                <span aria-hidden="true" class="pull-left"></span><i class="fa fa-users"></i>&nbsp; Daftar Group</span>
            </div>
            <div class="col-lg-6">
                 <span class="pull-right">
                    <div class="btn-group">
                        <a class="btn btn-primary" href="#"><i class="icon-collapse"></i> Lainnya</a>
                        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="icon-caret-down"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="icon-fixed-width icon-pencil"></i> Buat group</a></li>
                            <li><a href="#"><i class="icon-fixed-width icon-trash"></i> Daftar member</a></li>
                        </ul>
                    </div>
                        </span>
                    </div>   
                </span>
            <!-- <a class="list-group-item active main-color-bg"> -->

            <!-- </a> -->
                
                <div class="box-header">
                <div class="col-lg-4">
            </div>
            </div>
            <div class="widget-content" style="padding-left:30px; padding-right:30px;">
                <ul class="recent-posts">

                    {% for group in groups %}
                    <li>
                        <form action="{{ path_for('') }}" method="POST">
                        <div class="row">
                        		<div class=" col-md-3">
                        			<div class="thumb1">
                        			<center>
                                        <h1><a href="#">
                                            <img src="{{ base_url() }}/assets/images/{{ group.image }}"
                                            alt="{{ group.name }}" height="234" width="234" style="margin:20px">
                                        </a><h1>
                                    </center>
                        			</div>
                                </div>
                                <div class="col-sm-2 col-md-7">
                                    <ul>
                                        <li><span class="badge">{{ group.name }}</span></li>
                                        <li>{{ group.description }}</li>
                                    </ul>
                                </div>
                            </div>
                    </li>
                    {% endfor %}
                    <nav aria-label="...">
                        <ul class="pager">
                            {% if pagination.current > pagination.first_page %}
                                <li class="previous"><a href="{{ base_url() }}/group?page={{ data.first_page }}">
                                    <span aria-hidden="true">&larr;</span> Halaman pertama</a></li>
                                <li class="previous"><a href="{{ base_url() }}/group?page={{ data.current - 1 }}">
                                    <span aria-hidden="true">&larr;</span> Kembali</a></li>
                            {% endif %}
                            {% if pagination.current < pagination.total_page %}
                                <li class="next"><a href="{{ base_url() }}/group?page={{ data.total_page }}">
                                    Halaman terakhir <span aria-hidden="true">&rarr;</span></a></li>
                                <li class="next"><a href="{{ base_url() }}/group?page={{ data.current + 1 }}">
                                    Selanjutnya <span aria-hidden="true">&rarr;</span></a></li>
                            {% endif %}
                          </ul>
                    </nav>
                        <hr style="margin-top:10px;margin-bottom:10px;" >
                    </form>
                </ul>
            </div>
        </div>
    </div>
</div>


{% for group in items %}

<!-- Modal -->
<div id="{{ group.id }}" style="max-height: calc(100vh - 225px); height:auto;" class="modal fade" role="dialog">

                    <div style="padding-left:20px;" class="">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt betn
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat c
                        upidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </div>
                    <hr>
                  <!-- </div> -->
                  <div style="width:98%; position: absolute; bottom: 14px;" class="chat-message well">
                    <button class="btn btn-success">Send</button>
                    <span class="input-box">
                    <input type="text" name="msg-box" id="msg-box" />
                    </span> </div>            </div>
            <!-- </div> -->
        <!-- </div> -->
    </div>
    {% endfor %}
{% endblock %}
