{% extends 'templates/default.twig' %}

{% block title %} List Group {% endblock %}

{% block current %} List Group {% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span12">
        <div class="widget-box" style="margin-top:0px;">
            <a class="list-group-item active main-color-bg">
                <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>&nbsp; Daftar Group
            </a>
            <div class="box box-primary">
                <div style="padding-bottom:20px;"class="box-header">
                    <div id="panel1">
                        <div style="padding:10px; background:#fff;"class="span12">
                            <span style="float:right;">
                                <div class="btn-group">
                                    <a class="btn btn-primary" href="#"><i class="icon-collapse"></i> Lainnya</a>
                                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="" data-toggle="modal" data-target="#squarespaceModal">
                                            <i class="icon-fixed-width icon-pencil"></i> Buat group</a>
                                        </li>
                                        <li><a href="" data-toggle="modal" data-target="#squarespaceModal2">
                                            <i class="icon-fixed-width icon-pencil"></i> Tambah group</a>
                                        </li>
                                    </ul>
                                </div>
                            </span>
                        </div>
                        <br>
                        {% for data in data %}
                        <div class="col-lg-4">
                            <!-- <p class="text-center"><b>Photo</b> -->
                                <br>
                                <a href="{{ path_for('unreported.item.user.group',
                                 {'group': data.id, 'user':login.id}) }}"><img style="width:300px" class="img-thumbnail"
                                  alt="{{ data.name }}" src="{{ base_url() }}/assets/images/{{data.name}}">
                                </a>
                            <br><br>
                            <div class='wrapper text-center'>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <p class="text-left">
                            <b><span class="col1">Nama </span>:  </b> {{data.name}}<br><br>
                            <b><span class="col1">Deskripsi </span>:  </b> {{data.description}}<br><br>
                            <b><span class="col1">Member </span>:  </b> {{counts.user}}<br><br>
                        </div>
                    </div>
                    <div class="caption" style="padding:20px;">
                        {% if login.status == 1 %}
                        <a href="{{ base_url() }}/admin/group/{{ group.id }}/allusers"
                        class="btn btn-primary btn btn-primary btn-md" style="margin-bottom:7px">
                        <b>Add member to group</b></a>

                        <a href="{{ base_url() }}/admin/group/{{ group.id }}/users"
                        class="btn btn-primary btn btn-primary btn-md" style="margin-bottom:7px">
                        <b>{{ group.name }} Members</b></a>

                        {% elseif login.status == 0 %}
                        <a href="{{ base_url() }}/pic/{{ group.id }}/allusers"
                        class="btn btn-primary btn btn-primary btn-md" style="margin-bottom:7px">
                        <b>Add member to group</b></a>

                        <a href="{{ base_url() }}/pic/{{ group.id }}/users"
                        class="btn btn-primary btn btn-primary btn-md" style="margin-bottom:7px">
                        <b>{{ group.name }} Members</b></a>

                        <span class="pull-right">
                            <a href="{{ path_for('pic.item.group', {id: group.id}) }}" style="margin-bottom:7px">
                                <button type="submit" name="pic" value="3" class="btn btn-primary"> My item</button>
                            </a>
                        </span>
                        <hr>
                        {% endif %}
                        {% endfor %}
                        {% if data != null %}
                        <nav aria-label="...">
                            <ul class="pager">
                                <div class="pagination alternate">
                                    <ul>
                                        {% if pagination.current > 1 %}
                                        <li><a href="?page={{ pagination.current - 1 }}">
                                                Sebelumnya</a></li>
                                        {% endif %}
                                        <li class="active"> <a>{{ pagination.current }}</a></li>
                                        {% if pagination.current < pagination.total_page %}
                                        <li><a href="?page={{ pagination.current + 1 }}">
                                                Selanjutnya</a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </ul>
                        </nav>
                            {% else %}
                            <center>Tidak ada Grup</center>
                            {% endif %}
                            <hr style="margin-top:10px;margin-bottom:10px;" >
                    </div>
                    <!-- </ul> -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- line modal search-->
<div class="modal fade" id="squarespaceModal2" tabindex="-1" role="dialog"
 aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="lineModalLabel">Cari Group</h3>
            </div>
            <div class="modal-body">

                <!-- modal content -->
                <form action="{{ path_for('web.search.group') }}" method="POST">
                    <div class="form-group">
                        <input type="text" name="search" class="form-control" placeholder="Search group ..">
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-danger"
                            data-dismiss="modal" role="button">Tutup</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="submit" class="btn btn-success btn-hover-green" >Cari</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- line modal -->
<div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog"
 aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="lineModalLabel">Buat Group</h3>
            </div>
            <div class="modal-body">

                <!-- modal content -->
                <form action="{{ base_url() }}/group/create" method="POST">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nama</label>
                        <input type="text" name="name" class="form-control" placeholder="Nama grup">
                    </div>
                    <div class="form-group">
                        <label for="exampleTextarea">Deskripsi</label>
                        <textarea name="description" class="form-control" rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-danger"
                            data-dismiss="modal" role="button">Batalkan</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="submit" class="btn btn-success btn-hover-green" >Simpan</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
