
{% extends 'templates/default.twig' %}

{% block title %} Group {% endblock %}

{% block current %} Group {% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span12">
        <div class="widget-box" style="margin-top:0px;">
            <div style="background:#ffffff" class="">
                <div style="padding-bottom:0px; margin-top:2px background;#cccccc;" class="panel-heading">
                    <div class="widget-title span8">
                    <ul class="nav nav-tabs">
                        <li style="padding-right:50px;" class="active"><a data-toggle="tab" href="#tab1">Anggota Group</a></li>
                        <li style="padding-right:50px;"><a data-toggle="tab" href="#tab2">Tugas</a></li>
                        <li><a data-toggle="tab" href="#tab3">Laporan</a></li>
                    </ul>
                    </div>
                </div>
                <div class="panel-body" style="padding-top:0px;">
                    <div class="widget-content tab-content">
                        <div id="tab1" class="tab-pane active">

                            <div class="row">
                            	{% for user in members %}
                            		<div class="col-sm-2 col-md-3">
                            			<div class="panel box-body">
                            			<center><a href="#"><img src="{{ base_url() }}/assets/images/{{ user.image }}"
                            				 height="151" width="151" style="margin-bottom:5px"></a></center>
                                             <center>
                            			  	<div class="badge">
                                                <div class="col-lg-12">
                                                    <p class="text-center">
                                                        {{user.name}}<br>
                            							<i class="fa fa-phone" aria-hidden="true"></i> {{user.phone}}<br>
                                                    </p>
                                                </div>
                            			  	</div>
                                        </center>
                            			</div>
                            	  	</div>
                                    {% endfor %}

                            </div>
                            </div>
                        </div>
                    </div>

<nav aria-label="...">
    <ul class="pager">
        <div class="pagination alternate">
          <ul>
            <li class="{% if pagination.current == 1 %}disabled{% endif %}">
                <a href="{{ base_url() }}/group/{{group}}?page={{ pagination.current - 1 }}">Sebelumnya</a></li>
            <li class="active"> <a href="{{ base_url() }}/group/{{group}}?page={{ pagination.current }}">
            {{ pagination.current }}</a></li>
            <li class="{% if pagination.current == pagination.total_page %}disabled{% endif %}">
                <a href="{{ base_url() }}/group/{{group}}?page={{ pagination.current + 1 }}">Selanjutnya</a></li>
          </ul>
        </div>
    </ul>
</nav>
</div>
</div>
</div>
{% endblock %}
