
{% extends 'templates/default.twig' %}

{% block title %} Group {% endblock %}

{% block current %} Group {% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span12">
        <div class="widget-box" style="margin-top:0px;">
            <div style="background:#ffffff" class="">
                <div style="padding-bottom:0px; margin-top:2px background;#cccccc;" class="panel-heading">
                    <div class="widget-title span8">
                    <ul class="nav nav-tabs">
                        <li style="padding-right:50px;" ><a data-toggle="tab" href="#tab1">Anggota Group</a></li>
                        <li style="padding-right:50px;" class="active"><a data-toggle="tab" href="#tab2">Tugas</a></li>
                        <li><a data-toggle="tab" href="#tab3">Laporan</a></li>
                    </ul>
                    </div>
                </div>
                <div class="panel-body" style="padding-top:0px;">
                    <div class="widget-content tab-content">
                        <div id="tab2" class="tab-pane active">
                            <ul>


                                <div class="widget-content" style="padding-left:30px; padding-right:30px;">
                                    <ul class="recent-posts">
                                        {% for item in items     %}

                                            <div class="article-post">

                                                {% if item.reported_at == null %}
                                                <h6><b>Tugas</b></h6>

                                                <span class="user-info"> <b>
                                                    <span class="date badge badge-warning">{{ item.name }} </b>
                                                    </span>

                                                {% else %}
                                                <h6>{{ item.user }} melaporkan item di grup {{ item.group_name }}</h6>
                                                <br>
                                                <span class="user-info"> <b>
                                                    <span class="date badge badge-warning">{{ item.name }}
                                                    </span> >
                                                    <span class="date badge badge-success">{{ item.group_name }}
                                                    </span></b><br> {{ item.reported_at }}
                                                </span>
                                                {% endif %}

                                            {% if item.image != null %}
                                            <br><br>

                                            <img width="80%" style="max-width: 300px;"alt="Image item"
                                            src="{{ base_url() }}/assets/images/{{ item.image[0] }}">
                                            {% endif %}
                                            <br><br>
                                            <p><b>Deskripsi</b></p>
                                            <p>{{ item.description }}</p>
                                            <span>
                                            <h6><b>Dibuat</b></h6>{{ item.created_at }}
                                            </span>
                                        </div>
                                        <hr>
                                    </li>

                                    {% endfor %}

                                    <nav aria-label="...">
                                        <ul class="pager">
                                            <div class="pagination alternate">
                                              <ul>
                                                <li class="{% if pagination.current == 1 %}disabled{% endif %}">
                                                    <a href="{{ base_url() }}/home?page={{ pagination.current - 1 }}">Sebelumnya</a></li>
                                                <li class="active"> <a href="{{ base_url() }}/home?page={{ pagination.current }}">
                                                {{ pagination.current }}</a></li>
                                                <li class="{% if pagination.current == pagination.total_page %}disabled{% endif %}">
                                                    <a href="{{ base_url() }}/home?page={{ pagination.current + 1 }}">Selanjutnya</a></li>
                                              </ul>
                                            </div>
                                        </ul>
                                    </nav>

                                    <!-- <hr style="margin-top:10px;margin-bottom:10px;" > -->
                                </li>
                            </ul>
</div>
</div>
</div>
{% endblock %}
