<nav style="margin-bottom:10px; background:#337AB7;" class="navbar navbar-default" >
  <div class="container">
    <div style="margin-left:8px;  margin-right:8px;" class="navbar-header">
      <button type="button" style=" color:#fff; padding-top:22px;" class="navbar-toggle collapsed" data-toggle="collapse"
       data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <h3 style="color:#fff;"><span class="glyphicon glyphicon-cog" aria-hidden="true">
      </span> Reporting App <small></small></h3>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul style="background:#d5dfe7;" class="nav navbar-nav hidden-lg">
          <li><a href="index.html">Profil</a></li>
        <li><a href="{{path_for('home') }}">Beranda</a></li>
        <li><a href="{{ path_for('group.user') }}">Grup</a></li>
        <li><a href="{{path_for('logout')}}">Logout</a></li>
      </ul>
      {% if login.id != null %}
      <ul style="margin-top:10px;" class="nav navbar-nav navbar-right hidden-xs">
        <li><a  style="color:#fff;" href="#"> {{ login.username}}</a></li>

        <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle hidden-xs" data-toggle="dropdown">
                <img src="{{ base_url() }}/assets/images/{{ login.image }}" class="user-image" alt="User Image">
            </a>
            <ul class="dropdown-menu">
                <!-- User image -->
                <li class="user-header">
                    {% if login.image != null %}
                    <img src="{{ base_url() }}/assets/images/{{ login.image }}" class="img-circle" alt="User Image">
                    {% else %}
                    <img src="{{ base_url() }}/assets/images/avatar.png" class="img-circle" alt="User Image">
                    </div>
                    {% endif %}
                    <p>
                        {{login.name}}
                        <small>Terdaftar sejak {{ login.created_at | date("m-d-Y") }}</small>
                    </p>
                </li>
                <!-- Menu Body -->
                <li class="user-body">
                    <div class="row">
                        <div class="col-xs-4 text-center">
                            <a href="#">Item</a>
                        </div>
                        <div class="col-xs-4 text-center">
                            <a href="#">Grup</a>
                        </div>
                        <div class="col-xs-4 text-center">
                            <a href="">Pengaturan</a>
                        </div>
                    </div>
                    <!-- /.row -->
                </li>
                <!-- Menu Footer-->
                <li class="user-footer">
                    <div class="pull-left">
                        <a href="{{path_for('user.profile')}}" class="btn btn-default btn-flat">Profil</a>
                    </div>
                    <div class="pull-right">
                        <a href="{{path_for('logout')}}" class="btn btn-default btn-flat">Keluar</a>
                    </div>
                </li>
            </ul>
        </li>
        <li class="hidden-lg"><a href="login.html">Logout</a></li>
      </ul>
     {% endif %}
    </div><!--/.nav-collapse -->
  </div>
</nav>
